



:root{
  /* font size */
  --text-sm:1.2rem;
  --text-base:1.6rem;
  --text-paragraph:2rem;
  --text-h5:2.4rem;
  --text-h4:3.2rem;
  --text-h3:4rem;
  --text-h2:4.8rem;
  --text-h1:6.2rem;

  /* font weight */
  --font-weight-normal:400;
  --fomt-weight-bold:700;

  /* line height */
  --line-height-tight:1.2;
  --line-height-normal:1.5;

  /* letter spacing */

  --letter-spacing-tight: -2px;

  /* font fsmily */
  --font-family:poppins sans-serif ;

  /* clors */
  --primary-base:#339af0;
  --primary-tint:#d0cbff;
  --primary-shade:#1c7cd6;
   --secondary-base:#9775fa;
   --secondary-tint:#e5dbff;
   --secondary-shade:#7048e8;
   --tertiary-base:#ff922b;
   --tertiary-tint:#ffebcc;
   --tertiary-shade:#f76707;
   --grey-base:#495057;
   --grey-tint:#f1f3f5;
   --grey-shade:#212529;
   --white: #ffffff;
   --black: #000;


   /* navigation */
   --nav-height:10rem;


}
/* -----------------global styles  ----------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html{
  font-size: 62.5% ;
}



.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

h1,h2,h3,h4{
  font-weight: var(--fomt-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--grey-shade);
  letter-spacing:var(--letter-spacing-tight);



}

/* body{
  color: var(--grey-base);
  font-family:var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
} */

h1{
  font-size: var(--text-h1);
}

h2{

  font-size: var(--text-h2);
}

h3{
  font-size: var(--text-h3);
}
p,a{
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color:var(--grey-base);
}

a{
  text-decoration: none;
  font-size: var(--text-base);
  display: inline-block;
}
p{
  font-size: var(--text-paragraph);
  line-height: var(--line-height-normal);
}
ul{
  list-style: none;
}

span{
  display: inline-block;
}


/* ---------------------------component ---------------------*/

.btn{
  padding: 1.5rem 3rem;
  font-family: var(--font-family);
  text-decoration: none;
  font-size: var(--text-base);
  border-radius: 8px;
}

.btn-primary:link,.btn-primary:visited{
  background-color: var(--primary-base);
  color: var(--white);
  border: 2px solid var(--primary-base);

}

.btn-primary:hover,.btn-primary:active{
  background-color:var(--primary-shade);
  color:var(--white);
  border: 2px solid var(--primary-shade);


}
.btn-primary-outline:link,.btn-primary-outline:visited{
  background-color: var(--white);
  color: var(--primary-base);
  border: 2px solid var(--primary-base);
}
.btn-primary-outline:hover,.btn-primary-outline:active{
  background-color:var(--primary-tint);
  color:var(--primary-base);
  border: 2px solid var(--primary-base);

}

.btn-secondary:link,.btn-secondary:visited{
  background-color: var(--secondary-base);
  color: var(--white);
  border: 2px solid var(--secondary-base);
}

.btn-secondary:hover,.btn-secondary:active{
  background-color: var(--secondary-shade);
  color: var(--white);
  border: 2px solid var(--secondary-shade);
}

.chat-c{
  width: 7rem;
  height: 7rem;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
   position: fixed;
  bottom: 10px;
  right: 10px;
}

.chat-icon{
  width: 5rem;
  height: 5rem;


}





/* -------------------------highlight section  --------------------*/

.high{
  padding:0.5rem 1rem;
  border-radius: 5px;
  color: var(--white);
}
.high1{
  background-color: var(--secondary-base);
}
.high2{
  background-color: var(--tertiary-base);
}




/*---------------- head section ----------------*/
.quill{
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
}

.header{

  height: calc(100vh - (--nav-height)) ;
  min-height: 400px;
  
  
}
.hh{

  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mhead{
  margin-bottom: 3.0rem;
  text-align: center;
  
}

.heading-paragraph{
  margin-bottom: 5.0rem;
  text-align: center;
}

.nav-bar{
  margin-bottom: 20rem;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nt{
  display: flex;
  gap: 2rem;

}

.ntt{
  display: flex;
  gap: 20px;
}





/*---------------- feauture section ----------------*/


.feauture-header{
  margin-bottom: 8rem;
  text-align: center;
}

.ff{
  margin-bottom: 30rem;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 15rem;
  column-gap: 5rem;
  align-items: center;
  justify-items: center;
}

.imgf{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}


/*---------------------- cta section ------------------------*/
.cta-sec{
  margin-bottom: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cta-card{
  text-align: center;
  border-radius: 20px;
  background-color:var(--primary-base);
  padding: 10rem 20rem;
  max-width: 1000px;
  width: 100%;
  
  

}





.cth{
  color:white;
  margin-bottom: 2.0rem;
}
img{
  max-width: 300px;
  width: 100%;
}


.f1,.f2,.f3{
  margin-bottom: 2rem;
}






/* ------------------------foooter --------------------------*/

.socials{
  text-align: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;

}

.nts{
  display: flex;
  justify-content: center;
  gap: 2rem;

}
.ntss{
  display: flex;
  justify-content: center;
  gap: 2rem;

}
.small-text{
  font-size: var(--text-sm);
}

.autoshow{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

